/*=== MEDIA QUERY ===*/
@import url("https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800,900");
body {
  line-height: 1.5;
  font-family: "Muli", sans-serif;
  background: #f7f4e1;
}

p, li, input, select, button {
  font-family: "Muli", sans-serif;
  color: #666;
  font-size: 14px;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Muli", sans-serif;
  font-weight: 600;
  color: #333;
}

p {
  color: #666;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

p {
  color: #888;
}

label {
  font-size: 14px;
  letter-spacing: 0;
  color: #848484;
}

.add-button {
    background: #28a745;
    color: #fff;
    padding: 8px 20px !important;
    display: inline-block;
}


.add-button:hover {
    color: #fff;
}

.fitToSize{
    height: 200px;
    position: relative;
    width: 300px;
    object-fit: cover;
}

.car-listing-list {
    transition: all linear 0.3s;
    margin: 10px;
    border: 1px solid #cdcdcd;
    overflow: hidden;
    background: #FFFFFF;
    border-radius: 5px;
}

.car-listing-list:hover {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.car-listing-list:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.car-listing-list  {
    width: 100%;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.form-check-input {
    margin-top: .5rem
}

.thumbnail{
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    display: block;
    float: left;
    height: 70px;
    overflow: hidden;
    position: relative;
    width: 25%;
    padding-left:0px;
    padding-right:0px;
}
.thumbnail img{
    width: 100%;
}
.mainPhoto{
    height: 500px; width: 200px; overflow: hidden;object-fit: cover;
}

.search-group {
    display: flex;
    align-items: center;
    padding: .5rem;
    border: 1px solid #efecf3;
    border-radius: .5rem;
    background-color: #fff;
    box-shadow: 0 .125rem .125rem -0.125rem rgba(31, 27, 45, .08), 0 .25rem .75rem rgba(31, 27, 45, .08)
}

.search-group>div:first-child:not(.row),
.search-group>.form-control:first-child,
.search-group>.form-select:first-child {
    margin-left: -0.5rem
}

.search-group .form-control,
.search-group .form-select {
    border: 0;
    border-radius: 0;
    background-color: transparent
}

.search-group .form-control:focus,
.search-group .form-select:focus {
    box-shadow: none
}

.search-group .input-group .input-group-text {
    margin-top: .125rem;
    padding-right: 0;
    border: 0;
    background: transparent
}

.search-group .input-group .input-group-text+.form-control,
.search-group .input-group .input-group-text+.form-select {
    padding-left: .750375rem
}

.search-group .dropdown-toggle {
    font-weight: normal
}

.search-group .dropdown-toggle.btn-link {
    padding-right: 1.092rem;
    padding-left: 1.092rem;
    color: #9691a4
}

.search-group .dropdown-toggle.btn-link:hover,
.search-group .dropdown-toggle.btn-link.show {
    color: #454056
}

.search-group .dropdown-menu:not(.my-3) {
    margin-top: .75rem !important;
    margin-bottom: .75rem !important
}

.search-group .range-slider {
    width: 100%;
    padding-right: 1.125rem;
    padding-left: 1.125rem
}

.search-group .range-slider-ui {
    margin-top: 0;
    margin-bottom: 0
}

.search-group.rounded-pill,
.search-group.rounded-xl-pill,
.search-group.rounded-lg-pill,
.search-group.rounded-md-pill,
.search-group.rounded-sm-pill {
    padding-left: .75rem
}

.search-group-light {
    border-color: rgba(255, 255, 255, .15);
    background-color: rgba(255, 255, 255, .04)
}

.search-group-light .form-control,
.search-group-light .form-select {
    color: #fff
}

.search-group-light .form-control:focus,
.search-group-light .form-select:focus {
    background-color: transparent
}

.search-group-light

